.main-wrapper{
    padding: 20px;
}
.btn-row{
    display: flex;
    margin-bottom: 20px;
}
.btn-row>div{
    margin-right: 100px;
}
.btn-row button{
    margin-right: 10px;
}
.add-main, .add-sub{
    display: flex;
    
}

#main-form{
    display: flex;
}
.add-data{
    display: flex;

}
.add-data input{
    width: 80px;
    display: block;
}